.footer{
    margin-top: 20px;
    background-color: var(--osu-not-so-light);
    color: #bbb;
    text-align: center;
    padding: 50px;
}

.link{
    font-weight: 700;
    color: var(--osu-pinkest);
    text-decoration: none;
}