.beatmap{
    margin: auto;
    padding: 10px;
    background-color: #46393f;
    margin: 2px 0px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.beatmap:hover{
    background-color: var(--osu-dark);
}

.beatmap .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.beatmap .left .beatmap_title{
    margin-left: 12px;
}

.beatmap-title .beatmap_name{
    font-weight: 700;
    font-size: .90em;
}

.beatmap_name:hover{
    text-decoration: underline;
}

.beatmap-title .beatmap_artist{
    font-size: .80em;
}

.beatmap_version{
    color: #d3980a;
    font-size: .75em;
    font-weight: 700;
}

.beatmap .right{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.beatmap .right .pp{
    font-weight: 700;
    color: #ff66ab;
}

.beatmap .right .smol_pp{
    color: #ff93c4;
    font-size: .8em;
}

.mods{
    padding: 0 20px;
}

.mods > p > span > img {
    height: 30px;
}