/* Hidden */

.beatmap:hover{
    background-color: var(--osu-dark);
}

.hidden{
    padding: 10px;
    overflow: hidden;
    background-color: var(--osu-dark);
    border-radius: 5px;
}

.hidden > a{
    display: block;
    position: relative;
    width: 100%;
    transition: 500ms;
}

.hidden > a > img{
    width: 100%;
    transition: 500ms;
}

.hidden > a:hover > img{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}


/* .hidden > a > img:hover{
    -webkit-filter: blur(5px);
    filter: blur(5px);
} */

.buttonLink{
    transition: 500ms;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--osu-dark);
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 600;
    border: 0;
    color: #fff;
}

.music{
    display: flex;
    justify-content: space-between;
    align-items: center;
}