/* Player results */

.player_results{
    font-family: 'Open-sans';
    background-color: var(--score-inner-dark);
    border-radius: 10px;
    padding: 15px;
    color: #fff;
}

.player_results > div{
    padding: 10px;
    background-color: var(--score-light);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
}

.thumbnail{
    height: 100px;
    width: 100px;
}

.player_results > div > div{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.top_results{
    display: flex;
}

.top_results > div{
    padding: 10px;
}

.top_results h2{
    color: var(--score-text-light);
    border-bottom: 1px solid var(--score-text-light);
    font-size: .8em;
    font-weight: 500;
}

.top_results h1{
    font-size: 1.5em;
    font-weight: 500;
}

.bottom_results > div{
    display: inline-block;
    padding: 10px;
}

.bottom_results h2{
    color: var(--score-text-light);
    border-bottom: 1px solid var(--score-text-light);
    font-size: .8em;
    font-weight: 500;
}

.bottom_results h1{
    font-size: 1.5em;
    font-weight: 500;
}

.green{
    color: var(--score-highlight-green);
}

@media (max-width: 920px){
    .thumbnail{
        display: none !important;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        max-height: 0;
        overflow: hidden;
    }
    .thumbnail > img{
        height: 0;
        width: 0;
        display: none;
        overflow: hidden;
    }
    .player_results > div{
        flex-direction: column;
        padding: 0px;
    }
    .player_results > div > div{
        padding: 10px;
        font-size: 1.5em;
        flex-direction: column;
    }
}

@media (max-width: 550px){
    .player_results > div > div{
        font-size: .8em;
    }
}